@import '../assets/Dustismo-Roman-fontfacekit/web fonts/dustismoroman_regular_macroman/stylesheet.css';
@import '../assets/Dustismo-Roman-fontfacekit/web fonts/dustismoroman_bold_macroman/stylesheet.css';
@import '../assets/Dustismo-Roman-fontfacekit/web fonts/dustismoroman_bolditalic_macroman/stylesheet.css';
@import '../assets/Dustismo-Roman-fontfacekit/web fonts/dustismoroman_italic_macroman/stylesheet.css';
@import 'https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700';

body {
  /* The body gets a grey background so that the page stands out on top of it */
  background: #eee;
  /* Ensure the default text colour contrasts with the default background */
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

cite {
  font-style: normal;
}

q:after {
  content: "\201D";
}

q:before {
  content: "\201C";
}

.ad {
  margin: 12pt 0 0;
}

.ad img {
  display: block;
  margin: 12pt 0;
  max-width: 100%;
}

.article {
  font-family: Georgia, serif;
  font-size: 9pt;
  line-height: 1.3;
  text-align: justify;
}

.article p {
  margin: 0;
  text-indent: 1.5em;
}

.article.quotes-article {
  text-align: left;
}

.article.quotes-article p {
  text-indent: 0;
}

.article.quotes-article q {
  border-left: 4pt solid #ccc;
  padding-left: 3pt;
}

.article.quotes-article .article-heading {
  font-size: 18pt;
  margin: 3pt 0 8pt;
  text-align: left;
  text-transform: uppercase;
}

.article.quotes-article .call-to-action {
  text-indent: 7pt;
}

.article.quotes-article .quote-author {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: bold;
}

/* This selector needs to be more specific than `.article p` in order to be able to override the text-indent property */
.article p.lead {
  text-indent: 0;
}

.article .call-to-action {
  font-family: inherit;
  font-style: normal;
}

.article .lead:first-letter {
  color: #25669d;
  float: left;
  font-size: 3.9em;
  line-height: .85;
  margin-right: 2pt;
}

.article-author {
  margin: 0;
  text-align: center;
}

.article-author figcaption {
  margin: 10pt 0;
}

/* Ensure author image is centered and doesn't bleed out of column */
.article-author img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.article-author-location {
  /* Puts this element on its own line */
  display: block;
  font-style: italic;
}

.article-author-name {
  /* Puts this element on its own line */
  display: block;
  font-weight: bold;
}

/* Adds fixed width borders below header sections */
.article-author:after,
.article-subhead:after,
.article-subhead:before {
  background: #000;
  /* content needs to be set, otherwise nothing appears */
  content: '';
  display: block;
  height: 1px;
  margin: 10pt auto;
  width: 34pt;
}

.article-heading {
  font-family: dustismoroman_italic, serif;
  font-size: 26pt;
  font-style: italic;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.article-subhead {
  font-family: dustismo_romanregular, serif;
  font-size: 16pt;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.banner-article {
  background: #fcd243;
  margin: 0 0 16pt;
  padding: 4pt;
  text-align: center;
}

.banner-article .call-to-action,
.banner-article-heading {
  display: inline;
  font-family: dustismo_romanregular, serif;
  font-size: 23pt;
  font-weight: normal;
  text-transform: uppercase;
}

.banner-article-heading:after {
  content: ',';
}

.call-to-action {
  font-family: dustismoroman_italic, serif;
  font-style: italic;
}

.feature-article .lead {
  color: #999;
  font-family: dustismo_romanregular, serif;
  font-size: 19pt;
  line-height: 1.2;
  text-align: center;
}

.feature-article .lead .toast {
  color: #0f7a77;
  display: block;
  font-weight: normal;
}

.feature-article-header {
  /* So that the subhead can be positioned absolutely */
  position: relative;
}

.feature-article-heading {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 116pt;
  font-weight: 200;
  /* The font isn't as condensed as desired, so squish in, everybody */
  letter-spacing: -5pt;
  line-height: .75;
  margin: 6pt 0;
  text-align: center;
  text-transform: uppercase;
}

.feature-article-heading:before,
.feature-article-heading b:first-child:after,
.feature-article-heading b:first-child:before {
  /* By using both the top and bottom borders, the dots appear more like lines like in the design */
  border-bottom: 5pt dotted #ccc;
  border-top: 5pt dotted #ccc;
  content: '';
  display: block;
  /* Setting negative margins the height of the border makes it fill the leading (gap) without adding space */
  margin: -5pt auto;
  width: 75%;
}

.feature-article-heading b {
  color: #0f7a77;
  /* So that each word is on a separate line */
  display: block;
  /* Being explicit, because we might consider overriding the default for b tags */
  font-weight: bold;
}

.feature-article-subhead {
  background: #f17030;
  border: 4pt solid #f17030;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px #fab990;
  color: #fff;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 10pt;
  font-weight: normal;
  /* This plus the top padding should equal the width in order to create a circle */
  height: 52pt;
  line-height: .8;
  padding-top: 14pt;
  position: absolute;
  right: 0;
  transform: rotate(-20deg);
  text-align: center;
  text-transform: uppercase;
  top: 174pt;
  width: 66pt;
}

.feature-article-subhead b {
  color: #fab990;
  display: block;
  font-size: 28pt;
  font-weight: normal;
}

.feature-article-subhead .credit {
  color: #fab990;
  display: block;
  font-size: 8pt;
}

.feature-photo {
  /* Static height of the feature photos */
  height: 8in;
  /* Remove inherited margins */
  margin: 0;
  /* Crop off the parts of the image that bleed out of the container */
  overflow: hidden;
  /* Set this as the containing block of the image */
  position: relative;
}

.feature-photo figcaption {
  background: #fff;
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 9pt;
  left: 0;
  line-height: 1.3;
  padding: 10pt 6pt;
  position: absolute;
  top: 55%;
  width: 75%;
}

.feature-photo figcaption p {
  margin: 0;
}

.feature-photo img {
  /* Same as the height of the container */
  height: 8in;
  /* Position the image 50% of the width of the container to the left */
  left: 50%;
  position: absolute;
  /* Should be flush with the top of the container */
  top: 0;
  /* Shift the image back 50% of its own width to the left in order to center it */
  transform: translateX(-50%);
}

.col-1:nth-child(even) .feature-photo figcaption {
  /* Ensure the left is not still set to 0, otherwise it will conflict with the width property */
  left: auto;
  right: 0;
  /* In addition to aligning the box to the right, align the text to the right as well */
  text-align: right;
}

.col-1:nth-child(2) .feature-photo figcaption {
  top: 80%;
}

.col-1:nth-child(3) .feature-photo figcaption {
  top: 60%;
}

.col-1:nth-child(4) .feature-photo figcaption {
  top: 75%;
}

.nav-article {
  margin: 12pt 0;
}

.nav-article .call-to-action {
  font-size: 12pt;
  margin: 0;
}

.nav-article-heading {
  font-family: dustismo_romanregular, serif;
  font-weight: normal;
  font-size: 26pt;
  /* Don't need to take more space than necessary for headings */
  line-height: 1;
  /* Eliminate inherited margins */
  margin: 0;
}

.nav-article-heading:after {
  background: #fff;
  /* content needs to be set, otherwise nothing appears */
  content: '';
  display: block;
  height: 1px;
  margin: 4pt auto;
  width: 34pt;
}

.nav-article-hook {
  font-family: dustismo_romanregular, serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: 14pt;
  margin: 0;
  word-spacing: -2pt;
}

.nav-article-subhead {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 16pt;
  font-weight: normal;
  line-height: 1;
  margin: 8pt 0 0;
  text-transform: uppercase;
}

.nav-brand {
  /* This needs to be set so that the sideways text in .nav-title can be positioned absolutely */
  position: relative;
  /* This makes space for the sideways text */
  padding-top: 9in;
}

.nav-brand-link {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 14pt;
  margin: 4pt 0;
}

.nav-brand-mark {
  border: 1px solid #fff;
  font-family: dustismo_romanregular, serif;
  font-size: 26pt;
  font-weight: normal;
  height: 34pt;
  line-height: 34pt;
  /* Left and right margins are set to auto to horizontally center the whole block */
  margin: 0 auto;
  /* This is set so that the generated :after content can be positioned absolutely */
  position: relative;
  text-align: center;
  width: 34pt;
}

.nav-brand-mark:after {
  bottom: -15pt;
  content: '\27A4';
  font-size: 15pt;
  position: absolute;
  right: -7pt;
  text-shadow: 0 0 1px #000;
  transform: rotate(-135deg);
}

.nav-news {
  /* Font settings are here to avoid needing to style child elements directly */
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 11pt;
  line-height: 1;
  margin: 8pt 0;
}

.nav-news img {
  border: 6pt solid #fff;
  /* This prevents weird spacing from placing the image on the text baseline */
  display: block;
  /* This centers the image after setting it to display block */
  margin: 0 auto;
}

.nav-news p {
  /* It can be assumed that if any p tags are within this module, their margins should be reset */
  margin: 4pt 0;
}

.nav-news .call-to-action {
  font-size: 9pt;
}

.nav-primary {
  background: #f17030;
  color: #fff;
  padding: 4pt;
  text-align: center;
}

.nav-title {
  font-family: dustismo_romanregular, serif;
  /* A lot of tweaking had to happen to find this font size */
  font-size: 132pt;
  font-weight: normal;
  /* This element is positioned absolutely, so the left edge is a good place to put it horizontally */
  left: 0;
  /* The line-height property is used to make sure the sideways text has equal space on either side */
  line-height: 98pt;
  /* The element this class is applied to might have default margins, so this removes those */
  margin: 0;
  position: absolute;
  /* Rather than using uppercase in the HTML, CSS can set text to uppercase (since it's presentational) */
  text-transform: uppercase;
  /* This value is used for the padding at the top of the header */
  top: 9in;
  /* These rules rotate the text */
  transform: rotate(-90deg);
  transform-origin: left top 0;
  /* This prevents the text from wrapping, which it would do normally because it's SO BIG */
  white-space: nowrap;
}

.page-container {
  /* The page (paper) is white */
  background: #fff;
  /* Keep our desired width when adding padding */
  box-sizing: border-box;
  /* By setting the left and right margins to 'auto', the page will be horizontally centered */
  margin: 0 auto;
  /* A broadsheet newspaper is 22 inches long, but we use min-height here in case the content ends up longer in our Web version */
  min-height: 22in;
  /* The padding will be within the specified height and width due to the box-sizing property */
  padding: .5in;
  /* Yep, we can use inches (and centimeters) as units in CSS */
  width: 11in;
}

.placeholder {
  background: #ddd;
  margin: 1em 0;
  text-align: center;
}

.yelling {
  font-style: normal;
  text-transform: uppercase;
}

/* Grid */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  /* Make sure the padding doesn't break the percentage widths */
  box-sizing: border-box;
  /* Have all the columns flow side-by-side */
  float: left;
  /* Left and right padding is half the gutter width */
  padding: 0 4pt;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  /* Left and right margins are negative half the gutter width */
  margin: 0 -4pt;
}

/* This is a clearfix which ensures that columns don't bleed outside of their containing rows */
.row-1:after,
.row-2:after,
.row-3:after,
.row-4:after,
.row-5:after,
.row-6:after {
  content: "";
  display: table;
  clear: both;
}

.row-1 > .col-1,
.row-2 > .col-2,
.row-3 > .col-3,
.row-4 > .col-4,
.row-5 > .col-5,
.row-6 > .col-6 {
  width: 100%;
}

.row-2 > .col-1,
.row-4 > .col-2,
.row-6 > .col-3 {
  width: 50%;
}

.row-3 > .col-1,
.row-6 > .col-2 {
  width: 33.333333%;
}

.row-3 > .col-2,
.row-6 > .col-4 {
  width: 66.666667%;
}

.row-4 > .col-1 {
  width: 25%;
}

.row-4 > .col-3 {
  width: 75%;
}

.row-5 > .col-1 {
  width: 20%;
}

.row-5 > .col-2 {
  width: 40%;
}

.row-5 > .col-3 {
  width: 60%;
}

.row-5 > .col-4 {
  width: 80%;
}

.row-6 > .col-1 {
  width: 16.666667%
}

.row-6 > .col-5 {
  width: 83.333333%
}

.large-thematic-break-bottom {
  border-bottom: 12pt solid #c6c6c6;
}

.medium-thematic-break-right {
  border-right: 1pt solid #999;
}

.medium-thematic-break-top {
  border-top: 1pt solid #999;
}

.small-thematic-break-left {
  border-left: 1pt dotted #999;
}

.small-thematic-break-right {
  border-right: 1pt dotted #999;
}
